<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center fluid mt-2 mb-5">OOPS!!!! Some shit happens :( </h2>
            </div>
            <div class="col-md-6">
                <img class="img-404 my-3" src="/assets/404.svg" alt="" >
            </div>
            <div class="col-md-6">
                <h5 class="my-2">The typical trigger for an error 404 message is when website content has been removed or moved to another URL.</h5>
                <h6 class="my-2">There are also other reasons why an error message could appear. These include,</h6>
               <ul class="my-2">
                   <li>The URL or its content (such as files or images) was either deleted or moved (without adjusting any internal links accordingly)</li>
                    <li>The URL was writtenincorrectly (during the creation process or a redesign), linkedincorrectly, or typed into the browser incorrectly</li>
                    <li>The server responsible for the website is not running or the connection is broken</li>
                    <li>The requested domain name can’t be converted to an IP by the domain name system (DNS)</li>
                    <li>The entered domain name doesn’t exist (anymore)</li>
                </ul>
            </div>

            <div class="col-md-12 text-center mt-5 mb-5">
                <a id="home-a"  href="/">Go home</a>
            </div>
        </div>
    </div>

  <!--Script-->
  <%- include('./partials/script.ejs') %>

  

  </body>
</html>