<!doctype html>
<html lang="en">
  <!--Head-->
  <%- include('./partials/head.ejs') %>
  <body>
    <!--Nav-->
    <%- include('./partials/nav.ejs') %>
    <section>
      <div class="start-log">
        <div class="container fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card my-4 p-4 shadow mx-auto" style="max-width: 600px;">
                        <div id="logform">
                            <h4 class="text-center s-header">Welocome to wuhuu...</h4>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home" aria-selected="true">Login</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="profile" aria-selected="false">Create Account</a>
                                </li>
                              </ul>
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="mt-3 p-3">
                                        <form class="log">
                                            <div class="form-group">
                                              <label for="">Email address</label>
                                              <input type="email" class="form-control" aria-describedby="" name="email" required>
                                              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                                              <strong class="l-mail"></strong>
                                            </div>
                                            <div class="form-group">
                                              <label for="">Password</label>
                                              <input type="password" class="form-control" name="password" required>
                                              <strong class="l-pass"></strong>
                                            </div>
                                            <div class="form-group">
                                              <a href="/forgot-password">Forgot password?</a>
                                            </div>
                                            <button type="submit" class="btn  btn-outline-dark log-btn">Login to wuhuu...</button>
                                          </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="profile-tab">
                                    <div id="signform" class="mt-3 p-3">
                                        <form class="sign">
                                            <div class="form-row">
                                              <div class="form-group col-md-6">
                                                <label for="">First Name</label>
                                                <input type="text" class="form-control"  name="fname" required>
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label for="inputPassword4">Last Name</label>
                                                <input type="text" class="form-control"  name="lname" required>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control"  aria-describedby="" name="email" required>
                                                <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                <strong class="s-mail"></strong>
                                              </div>
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control"  name="password" required >
                                                <small  class="form-text text-muted">Atleast 8 characters</small>
                                                <strong class="s-pass"></strong>
                                              </div>
                                              <div class="form-group">
                                                <label for="exampleInputEmail1">Desigination</label>
                                                <input type="text" class="form-control"  aria-describedby="" name="desigination" required>
                                              </div>
                                              <button type="submit" class="btn btn-outline-dark sign-button">Create Account</button>
                                        </form>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!--Footer-->
  <%- include('./partials/footer.ejs') %>  

  <!--Script-->
  <script src="public/scripts/login.js"></script>
 <%- include('./partials/script.ejs') %>
   </body>
 </html>