@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap');
:root{
    --bg-clr:white;
    -txt-clr:black;
    --bor-clr:white;
    --hr-clr:black;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-clr);
    color:var(--txt-clr);
}

html{
    overflow-x: hidden;
}

.img-404{
 max-width: 500;
 height: auto;
 width: 100%;
}

#home-a{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
form strong{
    color: red;
}
.blogWrap{
    max-height: 200px;
    overflow: scroll;
    padding-right: 20px;
}
.blogWrap::-webkit-scrollbar{
    width: 5px; 
}
.blogWrap::-webkit-scrollbar-corner{
    background-color:transparent;
}
.blogWrap::-webkit-scrollbar-thumb{
    background-color:teal;
    border-radius: 10px;
}
.abt-img{
    width: 100px;
}
.link a{
    color: var(--txt-clr);
    text-decoration: none;
    font-weight: 700;
}
.up-image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;

}

.ser-list a{
    font-weight: bold;
}

.alert{
    margin-top: 100px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.container{
    max-width: 800px;
}
.start-log{
    margin-top: 100px;
}
@media screen and (min-width: 992px) {
  .navbar{
      height: 60px;
  }
}
@media screen and (max-width: 768px) {
.pro-txt{
    justify-content: center;
    text-align: center;
}
}


.card{
    background-color: var(--bg-clr);
    border-color: var(--bor-clr);
}
.pr-hr{
    background-color: var(--hr-clr);
    width: 950%;
    height: 1px;
    border-radius: 10px;
}

.tDark{
    --bg-clr:black;
    --txt-clr:white;
    --bor-clr:green;
    --hr-clr:green;
}
@media (prefers-color-scheme:dark){
    .tAuto{
        --bg-clr:black;
        --txt-clr:white;
        --bor-clr:green;
        --hr-clr:green; 
    }
}
.modal{
    color: black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: transparent;
}
