@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap');
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}

.img-404{
 max-width: 500;
 height: auto;
 width: 100%;
}

#home-a{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
form strong{
    color: red;
}
.blogWrap{
    max-height: 200px;
    overflow: scroll;
    padding-right: 20px;
}
.blogWrap::-webkit-scrollbar{
    width: 5px;
}
.blogWrap::-webkit-scrollbar-thumb{
    background-color:teal;
    border-radius: 10px;
}
.abt-img{
    width: 100px;
}
.link a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.up-image{
    width: 100%;
    height: auto;
}

.ser-list a{
    font-weight: bold;
}
.card{
    max-width: 700px;
}
.container{
    display: flex;
    justify-content: center;
}
.alert{
    width: 700px;
    margin-top: 50px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.start-log{
    margin-top: 50px;
}